Job Requirements

Degrees that are needed for this job are a bachelor
of arts in web design and/or a bachelor of science
in web design. Sometimes, employers will prefer one
over the other, even though both degrees give a
web designer the same qualification.

Key skills needed:
~ Web Graphic Design
~ Computer Proficiency
~ Planning
~ Web User Interface Design
~ Computer Programming
~ Web Programming Skills
~ Teamwork, ability to work on a team
~ Illustration Tools
~ Multimedia Content Development
~ Understanding Browser Capabilities
~ Internet Presence
~ Verbal Communication